$font: Helvetica, sans-serif;

$font-color: #222;

$success-color: #B7C11E;
$warning-color: #23A38F;
$error-color: #F0563D;

$shadow-color: rgba(0, 0, 0, 0.2);

$font-header-weight: 800;
$font-alert-weight: 800;